@font-face {
  font-family: "iconfont"; /* Project id 3621741 */
  src: url('iconfont.woff2?t=1662083821860') format('woff2'),
       url('iconfont.woff?t=1662083821860') format('woff'),
       url('iconfont.ttf?t=1662083821860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\e610";
}

.icon-arrow-up:before {
  content: "\e7a5";
}

.icon-group:before {
  content: "\e71c";
}

.icon-areachart:before {
  content: "\e7af";
}

.icon-user:before {
  content: "\e607";
}

.icon-linggan:before {
  content: "\e65d";
}

.icon-good:before {
  content: "\e74e";
}

.icon-xiangxiazhanhang:before {
  content: "\ec0b";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-archive:before {
  content: "\e63b";
}

.icon-twitter:before {
  content: "\ecb3";
}

.icon-tags:before {
  content: "\e826";
}

.icon-time:before {
  content: "\e6aa";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bookmark:before {
  content: "\e64e";
}

.icon-search:before {
  content: "\e65a";
}

.icon-eye:before {
  content: "\e750";
}

.icon-mail-open-fill:before {
  content: "\e67d";
}

.icon-github:before {
  content: "\ecb5";
}

.icon-qq-fill:before {
  content: "\e82e";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

